# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
# *.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# UV
#   Similar to Pipfile.lock, it is generally recommended to include uv.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#uv.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/latest/usage/project/#working-with-version-control
.pdm.toml
.pdm-python
.pdm-build/

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/

# Ruff stuff:
.ruff_cache/

# PyPI configuration file
.pypirc

# manual ignores
ud-215
sud-treebanks-v2.15models.txt
*.conllu
sud-treebanks-v2.15/
surprisals-avg_-1-Arabic.txt
surprisals-avgacl-1-Basque.txt
surprisals-avgadvcl-1-Basque.txt
surprisals-avgadvmod-1-Arabic.txt
surprisals-avgadvmod-1-Basque.txt
surprisals-avgamod-1-Arabic.txt
surprisals-avgamod-1-Basque.txt
surprisals-avgappos-1-Basque.txt
surprisals-avgaux-1-Arabic.txt
surprisals-avgaux-1-Basque.txt
surprisals-avgcase-1-Arabic.txt
surprisals-avgcase-1-Basque.txt
surprisals-avgcc-1-Arabic.txt
surprisals-avgcc-1-Basque.txt
surprisals-avgccomp-1-Basque.txt
surprisals-avgcompound-1-Basque.txt
surprisals-avgconj-1-Basque.txt
surprisals-avgcop-1-Arabic.txt
surprisals-avgcop-1-Basque.txt
surprisals-avgcsubj-1-Basque.txt
surprisals-avgdep-1-Basque.txt
surprisals-avgdet-1-Arabic.txt
surprisals-avgdet-1-Basque.txt
surprisals-avgdiscourse-1-Basque.txt
surprisals-avgfixed-1-Basque.txt
surprisals-avgflat-1-Basque.txt
surprisals-avgiobj-1-Basque.txt
surprisals-avgmark-1-Arabic.txt
surprisals-avgmark-1-Basque.txt
surprisals-avgnmod-1-Arabic.txt
surprisals-avgnmod-1-Basque.txt
surprisals-avgnsubj-1-Arabic.txt
surprisals-avgnsubj-1-Basque.txt
surprisals-avgnsubj:outer-1-Basque.txt
surprisals-avgnummod-1-Arabic.txt
surprisals-avgnummod-1-Basque.txt
surprisals-avgobj-1-Basque.txt
surprisals-avgobl-1-Basque.txt
surprisals-avgorphan-1-Basque.txt
surprisals-avgparataxis-1-Basque.txt
surprisals-avgpunct-1-Arabic.txt
surprisals-avgpunct-1-Basque.txt
surprisals-avgroot-1-Arabic.txt
surprisals-avgroot-1-Basque.txt
surprisals-avgvocative-1-Basque.txt
surprisals-avgxcomp-1-Basque.txt
surprisals-comp-1-Arabic.txt
surprisals-comp-1-Armenian.txt
surprisals-comp-1-Basque.txt
surprisals-comp-1-Belarusian.txt
surprisals-comp-1-Catalan.txt
surprisals-comp-1-Croatian.txt
surprisals-comp-1-Czech.txt
surprisals-comp-1-Danish.txt
surprisals-comp-1-Dutch.txt
surprisals-comp-1-English.txt
surprisals-comp-1-Estonian.txt
surprisals-comp-1-Finnish.txt
surprisals-comp-1-French.txt
surprisals-comp-1-Georgian.txt
surprisals-comp-1-Greek.txt
surprisals-comp-1-Hebrew.txt
surprisals-comp-1-Hindi.txt
surprisals-comp-1-Hungarian.txt
surprisals-comp-1-Indonesian.txt
surprisals-comp-1-Irish.txt
surprisals-comp-1-Italian.txt
surprisals-comp-1-Japanese.txt
surprisals-comp-1-Kyrgyz.txt
surprisals-comp-1-Lithuanian.txt
surprisals-comp-1-Norwegian.txt
surprisals-comp-1-Persian.txt
surprisals-comp-1-Polish.txt
surprisals-comp-1-Portuguese.txt
surprisals-comp-1-Romanian.txt
surprisals-comp-1-Russian.txt
surprisals-comp-1-Slovenian.txt
surprisals-comp-1-Spanish.txt
surprisals-comp-1-Swedish.txt
surprisals-comp-1-Thai.txt
surprisals-comp-1-Turkish.txt
surprisals-comp-1-Uyghur.txt
surprisals-mod-1-Arabic.txt
surprisals-mod-1-Armenian.txt
surprisals-mod-1-Basque.txt
surprisals-mod-1-Belarusian.txt
surprisals-mod-1-Catalan.txt
surprisals-mod-1-Croatian.txt
surprisals-mod-1-Czech.txt
surprisals-mod-1-Danish.txt
surprisals-mod-1-Dutch.txt
surprisals-mod-1-English.txt
surprisals-mod-1-Estonian.txt
surprisals-mod-1-Finnish.txt
surprisals-mod-1-French.txt
surprisals-mod-1-Georgian.txt
surprisals-mod-1-Greek.txt
surprisals-mod-1-Hebrew.txt
surprisals-mod-1-Hindi.txt
surprisals-mod-1-Hungarian.txt
surprisals-mod-1-Indonesian.txt
surprisals-mod-1-Irish.txt
surprisals-mod-1-Italian.txt
surprisals-mod-1-Japanese.txt
surprisals-mod-1-Kyrgyz.txt
surprisals-mod-1-Lithuanian.txt
surprisals-mod-1-Norwegian.txt
surprisals-mod-1-Persian.txt
surprisals-mod-1-Polish.txt
surprisals-mod-1-Portuguese.txt
surprisals-mod-1-Romanian.txt
surprisals-mod-1-Russian.txt
surprisals-mod-1-Slovenian.txt
surprisals-mod-1-Spanish.txt
surprisals-mod-1-Swedish.txt
surprisals-mod-1-Thai.txt
surprisals-mod-1-Turkish.txt
surprisals-mod-1-Uyghur.txt
surprisals-subj-1-Arabic.txt
surprisals-subj-1-Basque.txt
surprisals-subj-2-Arabic.txt
surprisals-subj-2-Armenian.txt
surprisals-subj-2-Basque.txt
surprisals-subj-2-Belarusian.txt
surprisals-subj-2-Catalan.txt
surprisals-subj-2-Croatian.txt
surprisals-subj-2-Czech.txt
surprisals-subj-2-Danish.txt
surprisals-subj-2-Dutch.txt
surprisals-subj-2-English.txt
surprisals-subj-2-Estonian.txt
surprisals-subj-2-Finnish.txt
surprisals-subj-2-French.txt
surprisals-subj-2-Georgian.txt
surprisals-subj-2-Greek.txt
surprisals-subj-2-Hebrew.txt
surprisals-subj-2-Hindi.txt
surprisals-subj-2-Hungarian.txt
surprisals-subj-2-Indonesian.txt
surprisals-subj-2-Irish.txt
surprisals-subj-2-Italian.txt
surprisals-subj-2-Japanese.txt
surprisals-subj-2-Kyrgyz.txt
surprisals-subj-2-Lithuanian.txt
surprisals-subj-2-Norwegian.txt
surprisals-subj-2-Persian.txt
surprisals-subj-2-Polish.txt
surprisals-subj-2-Portuguese.txt
surprisals-subj-2-Romanian.txt
surprisals-subj-2-Russian.txt
surprisals-subj-2-Slovenian.txt
surprisals-subj-2-Spanish.txt
surprisals-subj-2-Swedish.txt
surprisals-subj-2-Thai.txt
surprisals-subj-2-Turkish.txt
surprisals-subj-2-Uyghur.txt
